.product_item {
    min-width: 100%;
    margin: 0.3rem;
}

.product_item_container {
    display: flex;
}

.product_item_description {
    flex: 1;
    text-align: left;
}

.product_item_title {
    margin: 2rem;
    text-align: left;
}

.product_item_category{
    color: grey;
}

.product_item_photo {
    width: 150px;
    height: 150px;
}

.product_item_figure {
    width: 150px;
    height: 150px;
    background-color: gainsboro;
}
